<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="2" preserve-order="true">

  <test name="chrome - Smoke+Functional">
    <parameter name="browser" value="chrome"/>
    
    <groups>
      <run>
        <include name="smoke"/>
        <include name="functional"/>
        <include name="ui"/>
        <include name="Regression"/>
        <include name="Data-Driven"/>
      </run>
    </groups>
    
    <classes>
      <class name="com.automationexercise.tests.HomePageTest"/>
      <class name="com.automationexercise.tests.LoginTest"/>
      <class name="com.automationexercise.tests.ContactUsTest"/>
      <class name="com.automationexercise.tests.TC_ECOM_Tests"/>
      <class name="com.automationexercise.tests.TC_VideoTutorialsTest"/>
    </classes>
    
  </test>

</suite>
